/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bgTransition {
  transition: background-color 1s;
}

.cell::after {
  content: "";
}
.darkTheme {
  background-color: #1a202c;
  color: #ffffff;
}
.darkThemeNav {
  background-color: #0e1118;
  color: #ffffff;
}
.lightThemeNav {
  background-color: #efefef;
  color: #000000;
}
